:root {
  --primary-color: #fc709b;
  --secondary-color: #f5f2fe;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

@media (max-width: 765px) {
  .project-showcase {
    display: none;
  }
}

h1,
h2,
h3 {
  text-align: center;
  margin: 0;
}

h1 {
  font-size: 96px;
  margin-bottom: 15px;
}

h2 {
  font-size: 48px;
}

h3 {
  font-size: 24px;
  opacity: 0.7;
}

p {
  border-radius: 4px;
  font-size: 18px;
  line-height: 1.5;
  opacity: 0.9;
  background-color: white;
  text-align: justify;
  padding: 0;
  margin-top: 10px;
}

.navigation-links {
  display: flex;
  margin-top: 40px;
  margin-bottom: 30px;
  justify-content: center;
}

.navigation-links a {
  margin: 20px;
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
}

.contact-link:hover {
  color: white;
}
.contact-link {
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
}

.about-link {
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.about-link:hover {
  color: var(--primary-color);
}
.homepage-link {
  color: var(--primary-color);
  text-align: center;
  display: block;
}

.project-link {
  background-color: var(--primary-color);
  color: white;
  text-decoration: none;
  border: 1px solid var(--primary-color);
  border-radius: 4px;
  padding: 15px 23px;
}

.project-link:hover {
  color: white;
}
.about-paragraphs {
  display: flex;
  margin: 30px 0;
}

.about-paragraphs p {
  margin: 10px;
}

.email-link {
  color: var(--primary-color);
  font-size: 20px;
  text-decoration: none;
}

.email-link:hover {
  text-decoration: underline;
}

.container {
  margin-bottom: 50px;
  margin-top: 50px;
}

.container h2 {
  text-align: left;
}

.launch-btn {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  padding: 15px 10px;
  transition: all 150ms ease-in-out;
}

.info-p {
  background-color: white;
}

img {
  width: 100%;
  max-width: 100%;
}

.personal-img {
  width: 100%;
  max-width: 100%;
  border-radius: 14px;
}

.contact-info {
  margin-top: 50px;
}

.hero {
  padding: 130px 0 100px 0;
}

.navigation-bar {
  padding: 0;
}
.navbar-body {
  background-color: var(--primary-color);
  opacity: 0.9;
}

footer {
  margin: 100px 0 40px 0;
}

footer a,
.icon-links {
  color: var(--primary-color);
  font-size: 24px;
  transition: all 150ms ease-in-out;
  text-decoration: none;
}

footer a:hover,
.icon-links:hover {
  color: var(--primary-color);
}

.icon-links h4 {
  color: black;
}
.about-me-info p {
  line-height: 1.7;
}

.first-section {
  margin: 100px 0 80px 0;
}

.main-info {
  margin-top: 80px;
}
